/*
	http://www.visibone.com/colorlab/
*/
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12pt;
}

table {
	border-collapse: collapse;
}

table.main {
	border: 3px solid black;
}


table.main>tbody>tr>td {
	border: 1px solid black;
}

table.main>tbody>tr.pm {
	height: 12px;
	_background-color: rgba(0,0,0,.3);
}

td {
	text-align: center;
	padding: 0px;
	_text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	_color: white;
   color: white;
    font-weight: bold;
      text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    
}

th {
	border: 1px solid black;
	background-color: rgb(230, 230, 230);
	text-align: center;
	font-weight: bold;
}

th:first-child {
	border-right: 5px solid black;
}

table.main>tbody>tr:first-child {
	border-bottom: 5px solid black;
}

table.main>tbody>tr, table.ab {
	height: 3em;
}

th {
	width: 8em;
}

table.ab {
	width: 100%;
}

td.a {
	border-bottom: 1px dashed black;
	text-align: left;
	padding-left: 5px;
}

td.b {
	text-align: right;
}

td>div.add {
	float: right;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 2px;
	margin-left: 5px;
	_height: 100%;
	background-color: rgba(255, 255, 255, .5);
	border: 1px solid #aaa;
}

td.math {
	background-color: rgb(198, 0, 198);
}

td.phy {
	background-color: rgb(146, 230, 255);
}

td.techno {
	background-color: rgb(146, 197, 255);
}

td.en {
	background-color: rgb(255, 0, 0);
}

td.hi {
	background-color: rgb(255, 60, 255);
}

td.russe {
	background-color: rgba(255,0,0,.3);
}

td.fr {
	background-color: rgb(255, 100, 177);
}

td.hg {
	background-color: rgb(0, 0, 255);
	color: white;
}

td.svt {
	background-color: rgb(0, 255, 0);
}

td.eps {
	background-color: rgb(186, 234, 186);
}

td.art {
	background-color: rgb(255, 255, 0);
}

td.musique {
	background-color: rgb(255, 128, 0);
}

td.vie {
	background-color: rgb(255, 200, 0);
}